html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Work Sans', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  min-width: 1440px;
  height: 105px;
  border: 1px solid green;
}

.header__logo {
  padding: 35px 65px 35px;
}
.go {
}

.header__inner {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.header__menu {
}
.header__link {
}

.header__login {
  padding: 30px 60px 30px;
}
.header__login-login {
}
.header__login-price {
}
