html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  color: #1d253c;
}
.header {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
}

.header__logo {
  padding: 35px 65px 35px;
}

.header__menu {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.header__menu-list {
  display: flex;
}

.header__link-life {
  margin-left: 20px;
  font-size: 16px;
}

.header__link-why {
  margin-left: 22px;
  color: #007188;
  font-size: 16px;
  padding-bottom: 2px;
  border-bottom: 1px solid #007188;
}

.header__link-help {
  margin-left: 35px;
  font-size: 16px;
}

.header__login {
  display: flex;
  align-items: center;
  padding: 30px 60px 30px;
}

.header__login-login {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.header__login-price {
  border: 1px solid rgba(29, 37, 60, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 30px;
  margin-left: 35px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.one {
  height: 775px;
}

.one__content {
  display: flex;
  flex-direction: column;
}

.one__headtitle {
  padding-top: 225px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #f46752;
}

.one__bodytitle {
  height: 136px;
  width: 463px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  text-transform: capitalize;
  color: #1d253c;
  margin-bottom: 25px;
}

.one__text {
  height: 66px;
  width: 411px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #5a6482;
  margin-bottom: 40px;
}

.one__image {
  position: absolute;
  right: 0;
  top: 122px;
}

.application-btn {
  height: 61px;
  width: 220px;
  padding: 20px 60px 20px 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  background: #f46752;
  border: 1px solid rgba(29, 37, 60, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}

.application-btn::after {
  content: '';
  position: absolute;
  height: 11px;
  width: 31px;
  background-image: url('../images/arrow-btn.png');
  top: 24px;
  right: 26px;
}

.two {
  height: 645px;
  background: #f9f5f2;
  border-radius: 0px;
}

.two__inner {
  display: flex;
  justify-content: space-between;
}

.two__images {
  width: 50%;
  padding-top: 85px;
  padding-left: 170px;
}

.two__image {
  width: 500px;
  height: 435px;
  background: #ffffff;
  border-radius: 0px;
  margin-bottom: 20px;
}

.two__images-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5a6482;
  padding-left: 17px;
  position: relative;
}

.two__images-text::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 7px;
  background-image: url(../images/two-star.png);
  left: 0;
}

.two__content {
  width: 50%;
  padding-top: 170px;
  padding-left: 120px;
}

.two__headtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #f46752;
  margin-bottom: 25px;
}

.two__bodytitle {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  color: #1d253c;
  margin-bottom: 20px;
  width: 460px;
}

.two__content-text {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #5a6482;
  margin-bottom: 30px;
  width: 460px;
}

.greeapplication-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #126f86;
  position: relative;
  padding-right: 40px;
}

.greeapplication-btn::before {
  content: '';
  position: absolute;
  background-image: url('../images/green-arrow-btn.png');
  width: 30px;
  height: 10px;
  right: 0;
  top: 5px;
}

.three {
  height: 825px;
  background: #ffffff;
  border-radius: 0px;
}

.three__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.three__content {
  padding-top: 125px;
  padding-left: 170px;
  width: 50%;
}

.three__headtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #f46752;
  margin-bottom: 25px;
}

.three__bodytitle {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  color: #1d253c;
  margin-bottom: 35px;
  width: 415px;
}

.three__text {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #5a6482;
  width: 480px;
  margin-bottom: 15px;
}

.three__images {
  position: relative;
}

.three__images-header {
  position: absolute;
  left: -65px;
  top: -30px;
}

.three__images-body {
  position: relative;
}

.three__image-body {
  width: 540px;
  height: 510px;
}

.three__image-footer {
  position: absolute;
  bottom: -28px;
  left: -70px;
  width: 325px;
  height: 65px;
  border: 1px solid black;
  padding: 20px 10px 20px 25px;
  background-color: #ffffff;
}

.four {
  background: #f8f8f8;
  border-radius: 0px;
  height: 725px;
  position: relative;
}

.four__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.four__headertitle {
  padding-top: 140px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #f46752;
  margin-bottom: 30px;
}

.four__bodytitle {
  font-weight: 500;
  font-size: 43px;
  line-height: 52px;
  text-align: center;
  color: #1d253c;
  margin-bottom: 35px;
}

.four__text {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  color: #5a6482;
  margin-bottom: 40px;
  width: 1075px;
}

.four__items {
  display: flex;
  justify-content: space-evenly;
}

.four__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 310px;
  padding: 20px 30px;
  background: #ffffff;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.04);
  border-radius: 0px;
}

.four__item-image1 {
  width: 105px;
  height: 70px;
  padding-bottom: 15px;
}

.four__item-title1 {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}

.four__item-text1 {
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  color: #5a6482;
}
.four__item-text1 span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #1d253c;
}

.four__item-image2 {
  width: 90px;
  height: 140px;
}

.four__item-title2 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}

.four__item-text2 {
  font-weight: normal;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  color: #5a6482;
}

.four__item-image3 {
  width: 260px;
  height: 110px;
}

.four__item-title3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #1d253c;
}

.four__item-text3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #5a6482;
}

.four__umbrella-img {
  position: absolute;
  top: -110px;
}

.four__dog-img {
  position: absolute;
  width: 180px;
  height: 180px;
  bottom: -30px;
  right: 0;
}

.four__div {
  margin: 0 auto;
  position: relative;
  width: 450px;
}
